@import "../vars";

.navMenuItem {
  display: flex;

  &__link {
    color: $primary-white;
    text-decoration: none;
    font-weight: 600;
    font-size: 0.8rem;
    padding: 0.5rem 0;

    &:hover {
      color: $primary-red;
      transition: all 0.5s ease;
    }
  }

  &__active {
    color: $primary-red;
    transition: all 0.5s ease;
  }
}
