// NavMenu.module.scss

.navMenu {
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  color: white;

  &--mobile {
    flex-direction: column;
    align-items: flex-start;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1;
  }

  &__toggle {
    display: none;
    cursor: pointer;
    align-items: center;
    justify-content: center;

    @media (max-width: 768px) {
      display: flex;
    }
  }

  &__list {
    list-style: none;
    display: flex;
    gap: 1rem;

    @media (max-width: 768px) {
      display: none;
      flex-direction: column;
      align-items: center;
      gap: 0;
      width: 100%;
      position: absolute;
      top: 68px;
      left: 0;
      background-color: #333;
      text-align: center;
      overflow: hidden;
      max-height: 500px;
      transition: max-height 0.3s ease-in-out;
      padding: 1rem;
    }

    &--showMobile {
      display: flex;
    }
  }
}
