.logo {
  max-width: 12rem;

  @media (max-width: 768px) {
    display: flex;
    align-items: center;
    justify-content: center;
    grid-column-start: 1;
    grid-column-end: 3;
    margin: 0 auto;
  }
}
