@import "../vars";

.searchBar {
  display: flex;
  gap: 1rem;
  align-items: center;
  justify-content: center;

  &__field {
    max-width: 20rem;
    border-radius: 0.5rem;
    border: 0;
    outline: 0;
    width: 100%;
    flex-grow: 1;
    padding: 0.3rem 0.5rem;
  }

  &__toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    color: #fff;
  }
}
