.filters {
  display: flex;
  justify-content: space-between;
  padding: 1rem;
  padding-bottom: 0;
  
  @media (max-width: 768px) {
    flex-direction: column;
    align-items: flex-end;
    gap: 1rem;
  }

  &__select {
    display: flex;

    &__field {
        padding: 1rem;
    }
  }
}
